.card {
    width: 500px;
    background-color: #f2f2f2;
    /* padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;  */
}

.newTask {
    width: 500px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.nameTask {
    width: 75%;
    height: 42px;
    border-radius: 5px;
    background-color: slategray;
}

#inputTask{
    color: white;
}

#inputTask::placeholder{
    color: white;
}





/* newList.css */
/* .card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
   */
  /* .listTitle {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  } */
  
  /* .titleInput {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  } */
  
  /* .clearTitleButton {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  } */
  
  /* .newTask {
    display: flex;
    margin-bottom: 10px;
  }
   */
  /* .nameTask {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  } */
  
ul {
    list-style: none;
    padding: 0;
    background-color: aquamarine;
   margin-top: 15px;
    width: 100%;
  }
  
  li {
    display: flex;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 25px;
 font-family:monospace;
   justify-content: space-between; 

    /* background-color: blue; */
  } 
  .delete{
    background-color: coral;
    margin-top: 4px;
    padding-block: 2px;
  }


  .completed span {
    text-decoration: line-through;
   background-color:rgb(194, 114, 130); 

  }
  .body{
    background-image: url(/fondo.jpg);
    background-size: 80%;
  }

  /* .contenedorlist
{
    display:flex;
    width: 300px;
    border-color:  black;
    justify-content: space-between;
} */




/* 
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    cursor: url(/barita-removebg-preview.png), auto;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  *{
    box-sizing: border-box;
  }
  
  body {
    cursor: url(/barita-removebg-preview.png), auto;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  .body{
    background-image: url(/fondo.jpg);
    background-size: 80%;
  }
  /* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    /* button {
      background-color: #f9f9f9;
    } */

  /* .todo{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    max-width: 350px;
    border-radius: 7%;
    min-height: 400px;
    padding: 20px;
    background-color: forestgreen;
    color: rgb(40, 136, 123);
  }
  form{
    display: flex;
    width: 100%;
    margin: 20px auto;
    justify-content: space-between;
    cursor: url(/barita-removebg-preview.png), auto;
  }
  form input{
    width: 85%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid rgb(2, 13, 23);
    outline: none;
    cursor: url(/barita-removebg-preview.png), auto;
  }
  .todo-item{
    display: flex;
    justify-content: flex-start;
  }
  ::placeholder{
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
  }
  form button{
    background-color: transparent;
    border: 1px solid #999;
    width: 16%;
    /* cursor: pointer; */
    /* border-radius: 5px;
    padding: 7px;
    cursor: url(/barita-removebg-preview.png), auto;
  }
  button:hover{
    background-color: #000;
    border-color: #000;
    color: #fff;
    cursor: url(/barita-removebg-preview.png), auto;
  }
  .check{
    cursor: url(/barita-removebg-preview.png), auto;
  }  */ 