* {
    cursor: url(/src/assets/img/barita-removebg-preview.png), auto;
}

.cardTask {
    margin: 10px;
    background-image: linear-gradient(to bottom, #1e5d1f, rgba(90, 207, 89, 0.6));
    border-radius: 15px;
}

.newTask {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.nameTask {
    width: 60%;
    height: 42px;
    border-radius: 5px;
    display: flex;
    color: #34b433;
    padding-left: 3%;
    font-size: 17px;
    font-weight: bold;
    border: none;
}

.nameTask::placeholder {
    color: #34b433;
    font-weight: bold;
    font-size: 17px;
}

.taskname {
    margin: 0.6rem 0;
}

#inputTask {
    color: white;
}

#inputTask::placeholder {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    width: 100%;
    border-radius: 7px;
}

li {
    display: flex;
    cursor: pointer;
    font-size: 20px;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: baseline;
}

.delete {
    margin: 0.4rem;
    padding-block: 2px;
    align-items: center;
    /* width: 22%; */
    background-image: linear-gradient(to right, #5acf59, #228b22);
    box-shadow: 2px 2px #207521;
    margin-left: 5px;
}

.completed span {
    text-decoration: line-through;
    color: #5acf59;
    text-shadow: 2px 2px #1e5d1f;
    font-weight: bold;
}