.card {
    width: 500px;
}

.newTask {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameTask {
    width: 75%;
    height: 42px;
    border-radius: 5px;
    background-color: slategray;
}

#inputTask{
    color: white;
}

#inputTask::placeholder{
    color: white;
}