.card {
    width: 500px;
}

.newList {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameList {
    width: 75%;
    height: 40px;
    border-radius: 5px;
    /* background-color: slategray; */
}

.btnnewList {
    width: 22%;
    background-color: slategray;
}

.newTask {
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.nameTask {
    width: 75%;
    height: 40px;
    border-radius: 5px;
}

.btnnewTask {
    width: 22%;
    background-color: slategray;
}